:root {
  font-family: 'Bakbak One', cursive;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #E1E2E1;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.screen {
  border-radius: 20px;
  width: 400px;
  margin: auto;
}

.header {
  background: linear-gradient(135deg, #A4B6CE 0%, #63B4F4 50%, #62B5C5 100%);
  height: 48px;
  padding: 8px;
  font-size: 24px;
  color: white;
  border-radius: 20px 20px 0 0;
}



.items {
  background-color: #F5F5F6;
  height: 500px;
  overflow-y: auto;
  margin: 0px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}
.item__delete:hover {
  color:red;
  transform: scale(1.1);
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}
.footer{
  background: linear-gradient(135deg, #A4B6CE 0%, #63B4F4 50%, #62B5C5 100%);
  border-radius: 0 0 20px 20px;
}

.footer__text{
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 16px;
}

.footer__btn {
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: black;
  color: white;
  border-radius: 50%;
  transition: transform 300ms ease-in;
}